<h1>Admin::Dashboard#show</h1>


<tbody>
<tr>
  <td>
    Products:
  </td>
  <td>
    <%= @product_count %>
  </td> 
</tr>
<tr>
<td>
  Categories:
</td>
<td>
  <%= @category_list.count %>
</td> 
</tr>
</tbody>

